{% extends 'pages/header.html'%}
{% block title %}  | Blog {% endblock %}
{% block content %}
{% load static %}
<!-- Banner Area Starts -->
<section class="banner-area">
    <div class="banner-overlay">
        <div class="banner-text text-center">
            <div class="container">
                <!-- Section Title Starts -->
                <div class="row text-center">
                    <div class="col-xs-12">
                        <!-- Title Starts -->
                        <h2 class="title-head">Blog <span>Posts</span></h2>
                        <!-- Title Ends -->
                        <hr>
                        <!-- Breadcrumb Starts -->
                        <ul class="breadcrumb">
                            <li><a href="{% url 'homes' %}"> home</a></li>
                            <li>Blog</li>
                        </ul>
                        <!-- Breadcrumb Ends -->
                    </div>
                </div>
                <!-- Section Title Ends -->
            </div>
        </div>
    </div>
</section>
<!-- Banner Area Ends -->
		<!-- Section Content Starts -->
        <section class="container blog-page">
			<div class="row">
				
				<div class="content col-xs-12 col-md-8">
					<!-- Article Starts -->
					{% for bl in blog %}
					<article>
						<a href="{% url 'blog' %}"><h4 style="background-color: rgb(5, 0, 0); text-align: center;">{{ bl.article_text | safe}}</h4></a>
						<!-- Figure Starts -->
						<figure>
							<a href="#">
								<img class="img-responsive" src="{{ bl.article_photo.url }}" alt="">
							</a>
						</figure>
						<!-- Figure Ends -->
						<!-- Excerpt Starts -->
						<p class="excerpt" style="background-color: rgb(250, 250, 250); text-align: center;">{{bl.article_description | safe}}</p>
						<!-- Excerpt Ends -->
						<a href="#" class="btn btn-primary btn-readmore">
							Read more
						</a>
						<!-- Meta Starts -->
						<div class="meta">
							<span><i class="fa fa-commenting"></i> <a href="#">{{bl.no_of_comments}}comments</a></span>
							<span><i class="fa fa-tags"></i> {{bl.tags}}</span>
							<span><i class="fa fa-link"></i> <a href="#">permalink</a></span>
						</div>
						<!-- Meta Ends -->
					</article>
					{% endfor %}
					<!-- Article Ends -->
					<nav class="col-xs-12 text-center" aria-label="Page navigation">
                     {% if blog.has_other_pages %}
					  <ul class="pagination">
						  {% if blog.has_previous %}
						<li>
						  <a href="?page={{blog.previous_page_number}}" aria-label="Previous">
							<span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
						  </a>
						</li>
						{% else %}
						<li class = "disabled">
							<a aria-label="Previous">
							  <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
							</a>
						  </li>
						  {% endif %}
						  {% for i in blog.paginator.page_range %}
						  {% if blog.number == i %}
						<li class="active" ><a href="#">{{i}}</a></li>
						{% else %}
						<li><a href="?page={{i}}">{{i}}</a></li>
						{% endif %}
						{% endfor %}

						{% if blog.has_next %}
						<li>
						  <a href="?page={{blog.next_page_number}}" aria-label="Previous">
							<span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
						  </a>
						</li>
						{% else %}
						<li class = "disabled">
							<a aria-label="Previous">
							  <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
							</a>
						  </li>
						  {% endif %}

					  </ul>
                    {% endif %}
					</nav>
				</div>
				
				<!-- Sidebar Starts -->
				<div class="sidebar col-xs-12 col-md-4">
					<!-- Categories Widget Starts -->
					<div class="widget">
						<h3 class="widget-title">Categories</h3>
						<ul class="nav nav-tabs">
							<li><a href="#">Insurance</a></li>
							<li><a href="#">Announcement</a></li>
							<li><a href="#">Banking</a></li>
							<li><a href="#">Security</a></li>
							<li><a href="#">Regulation</a></li>
							<li><a href="#">Market Updates</a></li>
						</ul>
					</div>
					<!-- Categories Widget Ends -->
					<!-- Archives Widget Starts -->
					<div class="widget">
						<h3 class="widget-title">Archives</h3>
						<ul class="arrow nav nav-tabs">
							<li><a href="#">January 2018</a></li>
							<li><a href="#">December 2017</a></li>
							<li><a href="#">November 2017</a></li>
							<li><a href="#">October 2017</a></li>
							<li><a href="#">September 2017</a></li>
						</ul>
					</div>
					<!-- Archives Widget Ends -->
					<!-- Latest Posts Widget Ends -->
					<div class="widget recent-posts">
						<h3 class="widget-title">Recent Posts</h3>
						<ul class="unstyled clearfix">
						<!-- Recent Post Widget Starts -->
						<li>
							<div class="posts-thumb pull-left"> 
								<a href="#">
									<img alt="img" src="{% static 'images/blog/blog-post-small-1.jpg' %}">
								</a>
							</div>
							<div class="post-info">
								<h4 class="entry-title">
									<a href="#">Risks & Rewards Of Investing In Bitcoin</a>
								</h4>
								<p class="post-meta">
									<span class="post-date"><i class="fa fa-clock-o"></i> January 19, 2018</span>
								</p>
							</div>
							<div class="clearfix"></div>
						</li>
						<!-- Recent Post Widget Ends -->
						<!-- Recent Post Widget Starts -->
						<li>
							<div class="posts-thumb pull-left"> 
								<a href="#">
									<img alt="img" src="{% static 'images/blog/blog-post-small-2.jpg' %}">
								</a>
							</div>
							<div class="post-info">
								<h4 class="entry-title">
									<a href="#">Cryptocurrency - Who Are Involved With It?</a>
								</h4>
								<p class="post-meta">
									<span class="post-date"><i class="fa fa-clock-o"></i>  August 03, 2017</span>
								</p>
							</div>
							<div class="clearfix"></div>
						</li>
						<!-- Recent Post Widget Ends -->
						<!-- Recent Post Widget Starts -->
						<li>
							<div class="posts-thumb pull-left"> 
								<a href="#">
									<img alt="img" src="{% static 'images/blog/blog-post-small-3.jpg' %}">
								</a>
							</div>
							<div class="post-info">
								<h4 class="entry-title">
									<a href="#">How Cryptocurrency Begun and Its Impact</a>
								</h4>
								<p class="post-meta">
									<span class="post-date"><i class="fa fa-clock-o"></i>  March 27, 2017</span>
								</p>
							</div>
							<div class="clearfix"></div>
						</li>
						<!-- Recent Post Widget Ends -->
						</ul>
					</div>
					<!-- Latest Posts Widget Ends -->
					<!-- Tags Widget Starts -->
					<div class="widget widget-tags">
						<h3 class="widget-title">Popular Tags </h3>
						<ul class="unstyled clearfix">
							<li><a href="#">currency</a></li>
							<li><a href="#">crypto</a></li>
							<li><a href="#">trading</a></li>
							<li><a href="#">wallet</a></li>
							<li><a href="#">mining</a></li>
							<li><a href="#">transaction</a></li>
							<li><a href="#">financial</a></li>
							<li><a href="#">security</a></li>
			            </ul>
					</div>
					<!-- Tags Widget Ends -->
				</div>
				<!-- Sidebar Ends -->
			</div>
		</section>
        <!-- Section Content Ends -->
        <section class="call-action-all">
			<div class="call-action-all-overlay">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<!-- Call To Action Text Starts -->
							<div class="action-text">
								<h2>Get Started Today With Bitcoin</h2>
								<p class="lead">Open account for free and start trading Bitcoins!</p>
							</div>
							<!-- Call To Action Text Ends -->
							<!-- Call To Action Button Starts -->
							<p class="action-btn"><a class="btn btn-primary" href="/">Register Now</a></p>
							<!-- Call To Action Button Ends -->
						</div>
					</div>
				</div>
			</div>
        </section>
        <!-- Call To Action Section Ends -->
{% endblock %}