{% extends 'pages/header.html'%}
{% block title %}  | Stock {% endblock %}
{% block content %}
{% load static %}
<section class="banner-area">
    <div class="banner-overlay">
        <div class="banner-text text-center">
            <div class="container">
                <!-- Section Title Starts -->
                <div class="row text-center">
                    <div class="col-xs-12">
                        <!-- Title Starts -->
                        <h2 class="title-head">Live<span>Stock</span></h2>
                        <!-- Title Ends -->
                        <hr>
                        <!-- Breadcrumb Starts -->
                        <ul class="breadcrumb">
                            <li><a href="{%url 'homes' %}"> home</a></li>
                            <li>Live Stock Details</li>
                        </ul>
                        <!-- Breadcrumb Ends -->
                    </div>
                </div>
                <!-- Section Title Ends -->
            </div>
        </div>
    </div>
</section>
<!-- Banner Area Starts -->
<div class="tradingview-widget-container">
    <div id="tradingview_22ae1"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">

    new TradingView.widget(
      {
      "width": 1350,
      "height": 650,
      "symbol": "NASDAQ:AAPL",
      "interval": "D",
      "timezone": "Asia/Ashkhabad",
      "theme": "light",
      "style": "1",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": false,
      "allow_symbol_change": true,
      "save_image": false,
      "container_id": "tradingview_22ae1"
    }
      );
	  </script>
	  </div>

{% endblock %}